@import "tailwindcss";

html {
  color-scheme: light;
}

body {
  background-color: #ffffff;
  color: #111827;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}